<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Lista Vlasnika Kucnih Ljubimaca</title>
</head>
<body>
<h2 th:text="'Lista Vlasnika Kucnih Ljubimaca'">Lista Vlasnika Kucnih Ljubimaca</h2>

<table class="table table-striped">

    <thead>
    <tr>
        <th style="width: 150px">Id</th>
        <th style="width: 150px">Ime</th>
        <th style="width: 150px">Prezime</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.ime}">Pera</td>
        <td th:text="${owner.prezime}">Mikic</td>
    </tr>
    </tbody>

</table>

</body>
</html>