<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Lista Kucnih Ljubimaca</title>
</head>
<body>
<h2 th:text="'Veterinari'">Veterinari</h2>

<table class="table table-striped">

    <thead>
    <tr>
        <th>Id</th>
        <th>Ime</th>
        <th>Prezime</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.ime}">Pera</td>
        <td th:text="${vet.prezime}">Mikic</td>
    </tr>
    </tbody>

</table>

</body>
</html>